<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
	 <title>SRS System : Stock Inquiry</title>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <!-- Bootstrap -->
	 <link href="css/bootstrap.min.css" rel="stylesheet" />
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	 <!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
	 <![endif]-->
    <link href="css/style.css" rel="stylesheet" />
</head>
<body data-ng-controller="myCtrl">
    <div class="container">
    <!-- div of navbar -->
	<div>
		<ul class="nav nav-pills">
			<li data-ng-class="menuClass('cashsale')"><a href="index.html">Cash Sale</a></li>
			<li data-ng-class="menuClass('stockitem')"><a href="item.php">Stock Item</a></li>
            <li data-ng-class="menuClass('stockinquiry')"><a href="inquiry.html">Stock Inquiry</a></li>
			<li data-ng-class="menuClass('salerecord')"><a href="record.html">Sale Record</a></li>
		</ul>
    </div> <!-- end of navbar div -->
        
    <!-- div of inquiry -->
    <div>
        <h1>Stock Inquiry</h1>
        
        <!-- div of search input -->
		<div class="row">
            <div class="col-sm-4">
                <p>Med. Code <input type="text" data-ng-model="stockCode"></p>
            </div>
			<div class="col-sm-4">
                <p>Med. Name <input type="text" data-ng-model="stockName"></p>
            </div>
        </div> <!-- end of search input div -->
		
        <!-- row containing whole table -->
		<div class="row">
            <!-- the only column inside row -->
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover table-condensed">
						<thead id="tbhead">
							<tr>
								<th id="s_code">Stock Code</th>
								<th id="s_name">Stock Name</th>
								<th id="desc">Description</th>
								<th id="location">Location</th>
								<th id="quantity">Quantity</th>
								<th id="unit_price">Unit Price (RM)</th>
								<th id="selling_price">Selling Price (RM)</th>
							</tr>
						</thead>
						<tbody id="tbbody">   <!--id&references names are placeholder for now--> 
							<tr data-ng-repeat="x in list | filter : {stock_code:stockCode,stock_name:stockName}">
								<td headers="s_code">{{stock_code}}</td>
								<td headers="s_name">{{stock_name}}</td>
								<td headers="desc">{{description}}</td>
								<td headers="location">{{location}}</td>
								<td headers="quantity">{{quantity}}</td>
								<td headers="unit_price">{{unit_price}}</td>
								<td headers="selling_price">{{selling_price}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> <!-- end of the only column inside table row -->
		</div> <!-- end of whole table row -->
		
    </div> <!-- end of inquiry div -->
    </div> <!-- end of container div -->
    
	        <!-- jQuery – required for Bootstrap plugins) --> 
            <script src="js/jquery.min.js"></script> 
            <!-- All Bootstrap  plug-ins  file --> 
            <script src="js/bootstrap.min.js"></script> 
            <!-- Basic AngularJS --> 
            <script src="js/angular.min.js"></script> 
            <script src="js/angular-route.min.js"></script>
            <!-- Your Controller --> 
            <script src="js/appmenu.js"></script>
</body>
</html>

